.product{
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    max-height: auto;
    width: 400px;
    box-shadow: 0.5px 0.5px 10px #00000067;
}
.product .img-cont{
    height: 300px;
    width: 100%;
    margin: 0 auto;
}
.product .img-cont img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
}
.buy-now-btn{
    background-color: rgb(136, 133, 133) !important;
}
.wrapper .navbar{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}
.product-box{
    border: 1px solid #5c5c5c;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 10px #00000067 !important;
}